.login-container {
  margin-top: 10px;
}

.login {
  display: inline-flex;
  align-items: center;
  background-color: #f7fafc;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.40rem 1.5rem;
  font-size: 1.1rem;
  
  &:focus {
    outline: none;
  }  
}
